# Web scraping assignment- 2

tasks:

    Q1: Write a python program to scrape data for “Data Analyst” Job position in
        “Bangalore” location. You have to scrape the job-title, job-location, company_name,
        experience_required. You have to scrape first 10 jobs data.
        
    Q2: Write a python program to scrape data for “Data Scientist” Job position in
        “Bangalore” location. You have to scrape the job-title, job-location,
        company_name, full job-description. You have to scrape first 10 jobs data.
        
    Q3: In this question you have to scrape data using the filters available on the
        webpage.
        
    Q4: Write a python program to scrape data for first 10 job results for Data scientist
        Designation in Noida location. You have to scrape company_name, No. of days
        ago when job was posted, Rating of the company.
        
    Q5: Write a python program to scrape the salary data for Data Scientist designation
        in Noida location.
        
    Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
        scrape four attributes:
        1. Brand
        2. Product Description
        3. Price
        4. Discount %
        
    Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
        go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
        TSVZAXUHGREPBFGI&marketplace.
        
    Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
        search for “sneakers” in the search field.
        You have to scrape 4 attributes of each sneaker :
        1. Brand
        2. Product Description
        3. Price
        4. discount %
        
    Q9: Go to the link - https://www.myntra.com/shoes
        Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, And then scrape First 100 shoes data you get.   
        The data should include “Brand” of
        the shoes , Short Shoe description, price of the shoe.
        
    Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.
         Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.After setting the filters scrape first 10 laptops
         data. You have to scrape 3 attributes
         for each laptop:
         1. title
         2. Ratings
         3. Price

In [1]:
# importing libraries

import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [135]:
# initializing the driver to a variable.

driver= webdriver.Chrome('chromedriver.exe')

# Task 1

Q1:   Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the           job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [3]:
# opening required page on the browser.

driver.get('https://www.naukri.com/')

In [4]:
# finding element for search bar

searchbar= driver.find_element_by_id('qsb-keyword-sugg')
searchbar

In [5]:
# writing on search bar

searchbar.send_keys('Data Analyst')

In [6]:
# finding element for job location bar and writing location.

search_loc= driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [7]:
# finding element for search button.

search_btn= driver.find_element_by_xpath("//button[@class='btn']")

In [8]:
# Clicking search button.

search_btn.click()

In [9]:
# Extracting job titles

titles= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles

[<selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="cf3c57ce-38d3-40eb-bf36-2d5261d8b127")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="e9016357-1151-4901-b43b-f0a0c22406ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="08b49664-f1c7-4384-8534-8a50f5baa57b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="10dd7e9a-44d3-43a3-a177-30c9b7d260b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="e47b9ab3-afbc-46b7-bf03-38e291b9acc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="7bba4616-316c-4148-b18e-6adb606f9af5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="45044957-004c-4535-b262-b370cda5a771")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="f85388be-c012-4c26-adaa-f16f681b76db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="0fae2324-e032-4dde-ae41-fa236e7472c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="668370b2-9614-4614-9fba-25a0e6bfb3a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="d4422cea-4ce3-4b20-bc69-94b49e638687")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="429237c7-9461-4e87-8e2e-e66cd4188a5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="b38b8bf5-2ce7-4ad6-b804-ee33f0229f11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="f38ecef3-f5ff-4ecd-ab91-5c4f81d494b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="32fda60d-dd4c-49ac-8c7c-e615df51768b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="f1aadb2c-c495-4242-bb0a-e7cbe27af51f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="dcb74a37-5a3e-4f26-a838-cfcae0c96f34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="c3424557-3cfd-4889-bf4d-f4199510d9cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="63b9a223-f1ac-47b6-b1ad-16a6053cb4af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="c61981c0-4eb3-46fb-8912-262bad9d3a55")>]

In [12]:
# Extracting the text

job_titles=[]
for i in titles:
    job_titles.append(i.text)
    
job_titles= job_titles[0:10]
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst',
 'Hiring Data Analysts For E commerce Platform || WFH',
 'Data Analyst',
 'Data Analyst',
 'DA - Urgent Opening For Data Analyst BFSI Domain - Pan India',
 'Data Analyst',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst']

In [19]:
# Extracting job location

location= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
location

[<selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="14a8e36a-1481-4283-835b-e50a9ed23bff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="97de199f-a194-477f-b0f7-83a158b966c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="45b51b71-a8b1-46ae-bb58-1b658938c773")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="498be537-3992-4d6a-bb51-53f966010d5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="5148b514-b9b0-4f09-874d-61ed34aeefde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="8d0066af-bf6b-48cd-9d55-b1e8906f2311")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="dee1783b-b446-4170-9799-f1bfa677e4be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="f7bfa84a-b44d-4f64-bf6f-ccdb14c68157")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="bcb4e74d-5540-4618-8701-8402b0d5adea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="567760cf-c5f9-4789-8a24-07d8e2be4be2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="ed4240a5-71bd-43bf-b0bd-fb0c8757a926")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="b211cdcd-57c7-4019-bd32-b3cb842ecf7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="81188e15-07d1-4aeb-b892-b601e5ca1df6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="0bb00fee-4a0b-44a5-89e3-cf0786f847f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="cc1d5dfe-583d-4394-88a8-386fae5328e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="a1a73a1a-6c83-400e-bc12-fb8967987b25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="0cc0e77a-8dff-4cc3-bedc-20fe518fb677")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="58994ac8-c3d5-4175-9325-7e8c5ebf2843")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="2031f6af-fafd-40c7-98f1-85febb6986ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="edb7507a-86d1-4109-b170-fe9f1105032f")>]

In [20]:
# Extracting the text

job_location=[]
for i in location:
    job_location.append(i.text)
    
job_location= job_location[0:10]
job_location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [13]:
# Extracting company names

companies= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies

[<selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="7a6f1f86-27c7-4b5b-886e-2a375816153a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="b9760672-cdac-4609-ae4e-b92f0b8f8cb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="5bc4d277-471b-4558-9293-23c938ea81e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="9b678a1c-95a0-4b0a-9356-699f9791c4df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="cc41ef31-a1be-414a-a7d0-94c0dbc9a556")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="44ab04cf-fcaf-4020-a6d6-84e796379890")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="dbfdd480-54ab-4a64-b873-ad79e82806a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="80350171-4b0b-48be-8e31-8b491b10e57a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="57531f1d-7a94-4cc8-b389-ef6ca23d25b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="5666b218-2136-4b11-bec4-3ec4e1831a27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="044f47b5-d608-45e7-b40f-aa0611dc6b49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="d2816a17-49ed-4349-ba2a-fdf740393f11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="1b2695fd-23a4-4a46-b271-d73639f0b6ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="3f356554-fe93-4040-a93d-09c769b1d5a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="3757c019-f9cc-449f-a79f-2daf148fba9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="022dfe9f-d135-4af4-b94f-7ac9b48f700e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="894fadb4-65d7-4b28-87f5-4cd59e811c09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="67e32a82-3eda-4c39-a216-57f7e54cc253")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="4d20a1de-3d2a-4eae-b017-b0cc7619542a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="1a0baa94-0ceb-431d-82b5-bd164c69522b")>]

In [14]:
# Extracting the text

job_company=[]
for i in companies:
    job_company.append(i.text)
    
job_company= job_company[0:10]
job_company

['Inflexion Analytix Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Allegis Services India Pvt. Ltd.',
 'Shell India Markets Private Limited',
 'Applied Materials',
 'Tata Consultancy Services Ltd.',
 'Shell India Markets Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.']

In [15]:
# Extracting experience required

exp= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")  
exp

[<selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="bbb163a5-cb7d-4db3-92b6-83c7960bbb62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="a2564304-fd0a-4217-950b-bd6ee5fa09ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="92c1bf14-1ee9-4102-8a86-dbc903ecc46d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="f586c858-22ab-4411-b453-7ffafbd5c0ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="cd68d8c4-70d7-46d4-815a-fdfae0f1c861")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="241dc1d9-f35f-44b0-8966-c1ccdabe15aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="2b225ae1-28a6-44da-b1d5-d6f98e113266")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="f04f3c3a-2a30-4818-a607-e4e37da7e4c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="28d75b0b-2d93-4171-ac82-fa4f154ffbc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="a573dd67-229c-4b85-a9f1-a6239588fe3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="4a4db5e1-006d-497a-9a3c-abb410209567")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="18f84486-5933-4676-a64d-4d4c79497e82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="5a994821-53e5-4c87-8093-aa3ae7eef5d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="1e90e61a-d0f3-40a3-b859-ff5771ed0bb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="681d81b1-4f9e-48a2-9354-6fe20c6cdb55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="8d611881-8c52-423b-9985-5a1279920402")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="a2700e25-f558-4e22-a664-817cfd3c1472")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="c4059462-d174-47f8-a872-6bb195d96138")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="051270aa-94d9-4111-b38e-917065a338e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bcb42411f23c4fd794c89341313a96b8", element="f686cc22-01d6-4a67-8e46-56271d6ba17e")>]

In [16]:
exp_list=[]
for i in exp:
    exp_list.append(i.text)
    
exp_list= exp_list[0:10]
exp_list

['0-3 Yrs',
 '0-2 Yrs',
 '0-5 Yrs',
 '5-8 Yrs',
 '7-10 Yrs',
 '4-9 Yrs',
 '5-8 Yrs',
 '12-18 Yrs',
 '3-6 Yrs',
 '3-6 Yrs']

In [22]:
# Creating dataframe

x= {'Job_titles':job_titles,'Location': job_location,'Company': job_company, 'Experience': exp_list}
df1= pd.DataFrame(x)
df1

,Job_titles,Location,Company,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,0-2 Yrs
2,Hiring Data Analysts For E commerce Platform |...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,Shell India Markets Private Limited,5-8 Yrs
4,Data Analyst,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
5,DA - Urgent Opening For Data Analyst BFSI Doma...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Tata Consultancy Services Ltd.,4-9 Yrs
6,Data Analyst,Bangalore/Bengaluru,Shell India Markets Private Limited,5-8 Yrs
7,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs

# Task 2

Q2: Write a python program to scrape data for “Data Scientist” Job position in
    “Bangalore” location. You have to scrape the job-title, job-location,
    company_name, full job-description. You have to scrape first 10 jobs data.

In [136]:
# filling the website location into our driver

driver.get('https://www.naukri.com/')

In [137]:
# finding element for search bar and writing in it.

search_bar= driver.find_element_by_id('qsb-keyword-sugg')
search_bar.send_keys('Data Scientist')

In [138]:
# finding element for job location bar and writing location.

search_loc= driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [139]:
# finding element for search button and clicking on it.

search_btnn= driver.find_element_by_class_name('btn')
search_btnn.click()

In [140]:
# Fetching urls of individual pages.

urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute('href'))

In [141]:
# keeping the top 10 urls

urls= urls[0:10]

In [114]:
# creating lists to store data

Job_titles=[]
Location=[]
Company=[]
Description=[]

In [115]:
# Finding elements for all the job details and fetching them.

for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        j= driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        Job_titles.append(j.text)
    except NoSuchElementException:
        Job_titles.append('NaN')
        
    try:
        l= driver.find_element_by_xpath("//span[@class='location ']")
        Location.append(l.text)
    except NoSuchElementException:
        Location.append('NaN')
        
    try:
        c= driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        Company.append(c.text)
    except NoSuchElementException:
        Company.append('NaN')
        
    try:
        d= driver.find_element_by_xpath("//section[@class='job-desc']")
        Description.append(d.text)
    except NoSuchElementException:
        Description.append('NaN')

In [116]:
# Page orientation is different for NaN values.

Job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist, Modeling',
 'NaN',
 'NaN',
 'Senior Data Scientist - Credit risk',
 'NaN',
 'Specialist I - Data Scientist',
 'NaN',
 'Lead Data Scientist',
 'Hiring For DATA Scientist - ON Contract Basis (3-6 Months)']

In [118]:
Company

['Inflexion Analytix Private Limited',
 'Nielsen',
 'NaN',
 'NaN',
 'Scienaptic Systems',
 'NaN',
 'Philips India Limited',
 'NaN',
 'Intel Technology India Pvt Ltd',
 'GlobalEdx Learning and Technology Solution Pvt Ltd']

In [119]:
# Removing NaN values.

title1= [x for x in Job_titles if x != 'NaN']
loc11 = [x for x in Location if x != 'NaN']
company1 =[x for x in Company if x != 'NaN']
desc1= [x for x in Description if x != 'NaN']

In [142]:
# creating lists to store data

title2=[]
loc2=[]
company2=[]
desc2=[]

In [143]:
# Finding elements for remaining job details with different orientation and fetching them.

for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        j= driver.find_element_by_xpath("//h1[@class='av-special-heading-tag ']")
        title2.append(j.text)
    except NoSuchElementException:
        title2.append('NaN')
        
    try:
        l= driver.find_element_by_xpath("//a[@class='cityLinks']")
        loc2.append(l.text)
    except NoSuchElementException:
        loc2.append('NaN')
        
    try:
        c= driver.find_element_by_xpath("//p[@class='cpName f14']")
        company2.append(c.text)
    except NoSuchElementException:
        company2.append('NaN')
        
    try:
        d= driver.find_element_by_xpath("//div[@class='clearboth description']")
        desc2.append(d.text.replace('\n',''))
    except NoSuchElementException:
        desc2.append('NaN')

In [144]:
# Removing NaN values.

title2= [x for x in title2 if x != 'NaN']
loc2 = [x for x in loc2 if x != 'NaN']
company2 =[x for x in company2 if x != 'NaN']
desc2= [x for x in desc2 if x != 'NaN']

In [145]:
# Merging the lists of same category

all_title= title1+ title2
all_loc= loc11+ loc2
all_com= company1+ company2
all_desc= desc1+ desc2

In [146]:
# Creating dataframe

x= {'Job_titles':all_title,'Location': all_loc,'Company': all_com, 'Description': all_desc}
df2= pd.DataFrame(x)
df2

,Job_titles,Location,Company,Description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job description\nJob Role : Data Scientist/Dat...
1,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,Job description\nWe wont say we can predict th...
2,Senior Data Scientist - Credit risk,Bangalore/Bengaluru,Scienaptic Systems,Job description\n\nResponsibilities and duties...
3,Specialist I - Data Scientist,Bangalore/Bengaluru,Philips India Limited,Job description\nResponsibilities and Key Resu...
4,Lead Data Scientist,Bangalore/Bengaluru,Intel Technology India Pvt Ltd,Job description\n\n\nWe are seeking an outstan...
5,Hiring For DATA Scientist - ON Contract Basis ...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",GlobalEdx Learning and Technology Solution Pvt...,"Job description\nDear Aspirant,\n\nGreetings f..."
6,DATA SCIENTIST – IBM GARAGE,Noida,IBM India Pvt. Limited,As a Data Scientist in the IBM Garage team you...
7,DATA SCIENTIST,Noida,IBM India Pvt. Limited,"IntroductionAs a Data Scientist at IBM, you wi..."
8,BIG DATA – DATA SCIENTIST,Kochi/Cochin,Xoriant Solutions Pvt Ltd,Roles & Responsibilities & Key Skills:Big Data...
9,DATA SCIENTIST,Bangalore/Bengaluru,IBM India Pvt. Limited,The Data Warehousing Practitioner actively par...

# Task 3

Q3: In this question you have to scrape data using the filters available on the
            webpage. You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs

In [11]:
# filling the website location into our driver
driver.get('https://www.naukri.com/')

In [12]:
# finding element for search bar and writing on it

search_bar= driver.find_element_by_id('qsb-keyword-sugg')
search_bar.send_keys('Data scientist')

In [13]:
# Clicking search button.

search_btn= driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [14]:
# Clicking on checkbox for filtering

location_check= driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
location_check[1].click()

In [16]:
salary_check= driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
salary_check[5].click()

In [17]:
# Extracting job titles and then the text

titles= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles=[]

for i in titles:
    job_titles.append(i.text)
    
job_titles= job_titles[0:10]
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist',
 'Senior Data Scientist II 5+ yrs II Gurgaon',
 'Excellent opportunity For Data Scientist',
 'Data Scientist',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 "Data Scientist - Noida/ B'lore",
 'Data Scientist',
 'Data Scientist']

In [18]:
# Extracting company names and then text

companies= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp_names=[]

for i in companies:
    comp_names.append(i.text)
    
comp_names= comp_names[0:10]
comp_names

['Inflexion Analytix Private Limited',
 'IBM India Pvt. Limited',
 'Zenatix Solutions Private Limited',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'Mobikwik',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'Cloudstrats Technologies Private Limited',
 'Country Veggie']

In [19]:
# Extracting job location and then text

loc= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")  
job_loc=[]

for i in loc:
    job_loc.append(i.text)
    
job_loc= job_loc[0:10]
job_loc

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Noida, Bangalore/Bengaluru',
 'New Delhi, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, New Delhi, Lucknow, Agra, Gurgaon/Gurugram, Rajkot, Bangalore/Bengaluru']

In [ ]:
# Extracting job experience and then text

exp= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")  
job_exp=[]

for i in exp:
    job_exp.append(i.text)
    
job_exp= job_exp[0:10]

In [21]:
# Creating dataframe

x= {'Job_titles':job_titles,'Location': job_loc,'Company': comp_names, 'Experience': job_exp}
df3= pd.DataFrame(x)
df3

,Job_titles,Location,Company,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9 Yrs
2,Senior Data Scientist II 5+ yrs II Gurgaon,Gurgaon/Gurugram,Zenatix Solutions Private Limited,5-10 Yrs
3,Excellent opportunity For Data Scientist,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-7 Yrs
4,Data Scientist,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",Mobikwik,3-5 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
6,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
7,Data Scientist - Noida/ B'lore,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
8,Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Cloudstrats Technologies Private Limited,5-8 Yrs
9,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs

# Task 4

Q4: Write a python program to scrape data for first 10 job results for Data scientist
    Designation in Noida location.
    You have to scrape company_name, No. of days
    ago when job was posted, Rating of the company.

In [49]:
# filling the website location into our driver
driver.get('https://www.glassdoor.co.in/index.htm')

In [ ]:
# Clicking on title box to enter the data

title_bar= driver.find_element_by_xpath("//input[@class='css-1etjok6']")
title_bar.click()

In [50]:
# finding element for search bar

search_bar= driver.find_element_by_id("scKeyword") 
search_bar

In [51]:
# Writing on search bar

search_bar.send_keys("Data Scientist")

In [53]:
# finding element for location bar

search_loc= driver.find_element_by_id("scLocation") 
search_loc

In [ ]:
# Clearing the pre written text in location bar

search_loc.clear()

In [56]:
# Writing on location bar

search_loc.send_keys('Noida')

In [57]:
# finding element for submit button

search_bt= driver.find_element_by_id("prefix__icon-arrow-1") 
search_bt

In [58]:
# clicking on submit button

search_bt.click()

In [60]:
# Extracting element of company names and then the text

company= driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']//span")
time.sleep(4)
company_list=[]

for i in company:
    company_list.append(i.text)
    
company_list= company_list[0:10]
company_list

['Biz2Credit Inc',
 'Ericsson',
 'CRMNEXT',
 'Unyscape Infocom Pvt. Ltd',
 'Techlive',
 'CRMNEXT',
 'Salasar New Age Technologies',
 'ANI Calls India Private Limited',
 'Sparkbpl',
 'WishFin']

In [62]:
# Extracting element of ratings and then the text

rate= driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
time.sleep(3)
ratings=[]

for i in rate:
    ratings.append(i.text)
    
ratings= ratings[0:10]
ratings

['3.8', '4.1', '3.6', '4.2', '5.0', '3.6', '3.8', '3.0', '3.6', '4.1']

In [63]:
# Extracting element of no of days and then the text

days= driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
time.sleep(3)
days_gone=[]

for i in days:
    days_gone.append(i.text)
    
days_gone= days_gone[0:10]
days_gone

['30d+', '7d', '5d', '30d+', '30d+', '5d', '30d+', '30d+', '6d', '30d+']

In [64]:
# Creating dataframe

x= {'Job_company':company_list ,'Ratings': ratings,'No of days past': days_gone}
df4= pd.DataFrame(x)
df4

                       Job_company Ratings No of days past
0                   Biz2Credit Inc     3.8            30d+
1                         Ericsson     4.1              7d
2                          CRMNEXT     3.6              5d
3        Unyscape Infocom Pvt. Ltd     4.2            30d+
4                         Techlive     5.0            30d+
5                          CRMNEXT     3.6              5d
6     Salasar New Age Technologies     3.8            30d+
7  ANI Calls India Private Limited     3.0            30d+
8                         Sparkbpl     3.6              6d
9                          WishFin     4.1            30d+

# Task 5

Q5: Write a python program to scrape the salary data for Data Scientist designation
    in Noida location.

In [66]:
# filling the website location into our driver
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [67]:
# finding element for title bar and writing on it

title_bar= driver.find_element_by_id('KeywordSearch')
time.sleep(3)
title_bar.send_keys('Data Scientist')

In [68]:
# finding element for location bar and clearing it.

loc_bar= driver.find_element_by_id('LocationSearch')
time.sleep(3)
loc_bar.clear()

In [69]:
# writting on location bar

loc_bar.send_keys('Noida')

In [70]:
# finding element for search button and clicking in it.

search_btn= driver.find_element_by_id('HeroSearchButton')
search_btn.click()

In [75]:
# finding element for company names and extracting the text

com= driver.find_elements_by_xpath("//p[@class='m-0 ']")
time.sleep(3)
companies=[]
for i in com:
    companies.append(i.text)
    
companies= companies[0:10]
companies

['Tata Consultancy Services',
 'IBM',
 'Ericsson-Worldwide',
 'Delhivery',
 'Accenture',
 'UnitedHealth Group',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum Global Solutions']

In [76]:
# finding element for no of salaries and extracting the text

sal= driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
time.sleep(3)

salaries=[]
for i in sal:
    salaries.append(i.text)
    
salaries= salaries[0:10]
salaries

['16 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '13 salaries',
 '11 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries']

In [77]:
# finding element for min salary and extracting the text

minn= driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']//span[1]")
time.sleep(3)

min_salary=[]
for i in minn:
    min_salary.append(i.text)
    
min_salary= min_salary[0:10]
min_salary

['₹333K',
 '₹569K',
 '₹350K',
 '₹436K',
 '₹560K',
 '₹1,037K',
 '₹487K',
 '₹196K',
 '₹558K',
 '₹1,000K']

In [78]:
# finding element for max salary and extracting the text

maxx= driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']//span[2]")
time.sleep(3)

max_salary=[]
for i in maxx:
    max_salary.append(i.text)
    
max_salary= max_salary[0:10]
max_salary

['₹1,080K',
 '₹2,648K',
 '₹1,565K',
 '₹11,274K',
 '₹2,147K',
 '₹1,500K',
 '₹1,421K',
 '₹1,755K',
 '₹1,500K',
 '₹2,085K']

In [80]:
# finding element for average salary and extracting the text

avg= driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
time.sleep(3)

avg_salary=[]
for i in avg:
    avg_salary.append(i.text.replace('\n',''))
    
avg_salary= avg_salary[0:10]
avg_salary

['₹ 5,97,967/yr',
 '₹ 8,79,486/yr',
 '₹ 7,15,984/yr',
 '₹ 12,12,741/yr',
 '₹ 10,97,744/yr',
 '₹ 12,96,182/yr',
 '₹ 7,90,812/yr',
 '₹ 11,19,962/yr',
 '₹ 11,10,022/yr',
 '₹ 13,93,451/yr']

In [81]:
# Creating dataframe

x= {'Job_company':companies ,'Minimum salary': min_salary,'Average salary': avg_salary, 'Maximum salary': max_salary}
df5= pd.DataFrame(x)
df5

                 Job_company Minimum salary  Average salary Maximum salary
0  Tata Consultancy Services          ₹333K   ₹ 5,97,967/yr        ₹1,080K
1                        IBM          ₹569K   ₹ 8,79,486/yr        ₹2,648K
2         Ericsson-Worldwide          ₹350K   ₹ 7,15,984/yr        ₹1,565K
3                  Delhivery          ₹436K  ₹ 12,12,741/yr       ₹11,274K
4                  Accenture          ₹560K  ₹ 10,97,744/yr        ₹2,147K
5         UnitedHealth Group        ₹1,037K  ₹ 12,96,182/yr        ₹1,500K
6         Valiance Solutions          ₹487K   ₹ 7,90,812/yr        ₹1,421K
7              ZS Associates          ₹196K  ₹ 11,19,962/yr        ₹1,755K
8                EXL Service          ₹558K  ₹ 11,10,022/yr        ₹1,500K
9     Optum Global Solutions        ₹1,000K  ₹ 13,93,451/yr        ₹2,085K

# Task 6

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
    scrape four attributes:
    1. Brand
    2. Product Description
    3. Price
    4. Discount %

In [3]:
# filling the website location into our driver

driver.get('https://www.flipkart.com/')

In [4]:
# finding element for search bar and writting on it

search_bar= driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input")
search_bar.send_keys('sunglasses')

In [5]:
# finding element for search button and clicking on it

search_btn= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [6]:
# creating lists to store data

brand=[]
product=[]
cost=[]
discount=[]

In [71]:
# finding elements for all the data and extracting the texts.

for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)
        
    for k in driver.find_elements_by_xpath("//a[contains(@class, 'IRpwTa')]"):
        product.append(k.text)
        
    for l in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        cost.append(l.text)
        
    for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span"):
        discount.append(m.text)
        
    driver.find_element_by_xpath("//span[contains(text(),'Next')]").click()  # clicking on next button
    time.sleep(3)

In [72]:
# arranging the lists

brand= brand[0:100]
product= product[0:100]
cost= cost[0:100]
discount= discount[0:100]

In [73]:
# Creating dataframe

x= {'Brand':brand ,'Product description': product,'Price': cost, 'Discount': discount}
df6= pd.DataFrame(x)
df6

,Brand,Product description,Price,Discount
0,Robbie jones,UV Protection Wayfarer Sunglasses (Free Size),₹758,60% off
1,aadi,UV Protection Rectangular Sunglasses (Free Size),₹630,70% off
2,HOTSTYLE,UV Protection Retro Square Sunglasses (Free Size),₹499,43% off
3,Numenzo,UV Protection Retro Square Sunglasses (Free Size),₹399,60% off
4,Robbie jones,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹621,52% off
...,...,...,...,...
95,ESSENCE,"UV Protection, Gradient Wayfarer Sunglasses (57)",₹399,24% off
96,Billion,UV Protection Round Sunglasses (50),₹525,45% off
97,KANEGGYE,UV Protection Retro Square Sunglasses (88),₹399,55% off
98,JUBENTA,Mirrored Aviator Sunglasses (55),₹599,61% off
99,believe,UV Protection Oval Sunglasses (56),₹399,64% off

# Task 7

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
    go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [51]:
# filling the website location into our driver

driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [52]:
# clicking on all reviews to fetch all the reviews together.

all_rev= driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
all_rev.click()

In [53]:
# creating lists to store data

rating=[]
summary=[]
fullrev=[]

In [54]:
# finding elements for all the data and extracting the texts.

for i in range(0,10):
    for j in driver.find_elements_by_xpath("//div[contains(@class, '_3LWZlK _')]"):
        rating.append(j.text)
        
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        summary.append(k.text)
        
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        fullrev.append(l.text)
        
    driver.find_element_by_xpath("//span[contains(text(),'Next')]").click()  # clicking on next button
    time.sleep(3)

In [55]:
# checking lengths
len(rating)

100

In [56]:
len(summary)

100

In [57]:
len(fullrev)

100

In [58]:
# Creating dataframe

x= {'Rating':rating ,'Review summary': summary,'Full review': fullrev}
df7= pd.DataFrame(x)
df7

,Rating,Review summary,Full review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,4,Good choice,So far it’s been an AMAZING experience coming ...
4,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
...,...,...,...
95,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
96,5,Terrific purchase,"Well , as we all know if its not an Iphone , i..."
97,5,Excellent,A perfect phone and a good battery super camer...
98,5,Fabulous!,Everything is perfect pictures come out so cle...
99,5,Wonderful,Nice value for money good and best price I pho...

# Task 8

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
    search for “sneakers” in the search field.
    You have to scrape 4 attributes of each sneaker :
    1. Brand
    2. Product Description
    3. Price
    4. discount %

In [67]:
# Giving the website to the driver.

driver.get('https://www.flipkart.com')

In [68]:
# finding element for search bar and writing on it.

searchbar= driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
searchbar.send_keys('sneakers')

In [69]:
# finding element for search button and clicking on it

search_btn= driver.find_element_by_class_name("L0Z3Pu")
search_btn.click()

In [70]:
# creating lists to store data

brand=[]
product_dec=[]
price=[]
discount=[]

In [115]:
# finding elements for all the data and extracting the texts.

for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)
        
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        product_dec.append(k.text)
        
    for l in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(l.text)
        
    for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span"):
        discount.append(m.text)
        
    driver.find_element_by_xpath("//span[contains(text(),'Next')]").click()    # Clicking on the next button.
    time.sleep(3)

In [117]:
# arranging the lists

brand= brand[0:100]
product_dec= product_dec[0:100]
price= price[0:100]
discount= discount[0:100]

In [119]:
# Creating dataframe

x= {'Brand':brand ,'Product description': product_dec,'Price': price, 'Discount': discount}
df8= pd.DataFrame(x)
df8

,Brand,Product description,Price,Discount
0,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
1,aadi,Sneakers For Men,₹298,70% off
2,Numenzo,Sneakers For Men,₹398,60% off
3,HOTSTYLE,Sneakers Sneakers For Men,₹283,43% off
4,Robbie jones,Sneakers For Men,₹474,52% off
...,...,...,...,...
95,tigonis,Sneakers For Men,₹399,57% off
96,Robbie jones,Sneakers For Men,₹428,8% off
97,KRAFTER,Sneakers For Men,₹458,17% off
98,KANEGGYE,Sneakers For Men,₹410,52% off
99,STRANGER BROTHERS,Sneakers For Men,₹474,53% off

# Task 9

Q9: Go to the link - https://www.myntra.com/shoes
    Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, And then scrape First 100 shoes data you get.The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [59]:
# Giving the website to the driver.

driver.get('https://www.myntra.com/shoes')

In [63]:
# Clicking on checkbox for filtering

price_check= driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")
price_check[7].click()

In [61]:
color_check= driver.find_element_by_xpath("//li[@class='colour-listItem']")
color_check.click()

In [64]:
# creating lists to store data

brand=[]
description=[]
price=[]

In [65]:
# finding elements for all the data and extracting the texts.

for i in range(0,2):
    for j in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        brand.append(j.text)
        
    for k in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        description.append(k.text)
        
    for l in driver.find_elements_by_xpath("//div[@class='product-price']"):
        price.append(l.text)
        
    driver.find_element_by_xpath("//a[contains(text(),'Next')]").click()    # Clicking on the next button.
    time.sleep(3)

In [66]:
# Creating dataframe

x= {'Brand':brand ,'Product description': description,'Price': price}
df9= pd.DataFrame(x)
df9

,Brand,Product description,Price
0,Puma,Men Velocity Nitro Running,Rs. 10999
1,Nike,Men JOYRIDE Running Shoes,Rs. 10496Rs. 14995(30% OFF)
2,Nike,Men JORDAN DELTA Basketball,Rs. 12495
3,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
4,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999
...,...,...,...
95,Saint G,Leather Heeled Boots,Rs. 11800
96,FILA,Women Solid Sneakers,Rs. 6999
97,Nike,Women AIR MAX VIVA Sneakers,Rs. 12495
98,Kenneth Cole,Women Solid Flat Boots,Rs. 9513Rs. 13590(30% OFF)
99,ADIDAS,Men Supernova Running Shoes,Rs. 7999Rs. 9999(20% OFF)

# Task 10

Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.
     Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.After setting the filters scrape first 10 laptops
     data. You have to scrape 3 attributes
     for each laptop:
     1. title
     2. Ratings
     3. Price

In [63]:
# Giving the website to the driver.

driver.get('https://www.amazon.in/')

In [64]:
# finding element for search bar and writing on it.

search_bar= driver.find_element_by_id("twotabsearchtextbox")
search_bar.send_keys('Laptop')

In [65]:
# finding element for search button and clicking on it

search_btn= driver.find_element_by_id("nav-search-submit-button")
search_btn.click()

In [66]:
# Clicking on checkbox for filtering

cpu_check= driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']")
for i in cpu_check:
    if i.text== 'Intel Core i7':
        i.click()
        break

In [67]:
# Fetching urls of individual laptop pages.

urls=[]
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    urls.append(i.get_attribute('href'))

In [68]:
# Keeping the top 10 urls

urls= urls[0:10]

In [69]:
# creating list to store data.

title=[]
price=[]
rating=[]

In [70]:
# Finding elements for all the product details and fetching them.

for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        t= driver.find_element_by_id("productTitle")
        title.append(t.text)
    except NoSuchElementException:
        title.append('NaN')
        
    try:
        p= driver.find_element_by_xpath("//td[@class='a-span12']//span")
        price.append(p.text)
    except NoSuchElementException:
        price.append('NaN')
        
    try:
        r= driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        rating.append(r.text)
    except NoSuchElementException:
        rating.append('NaN')

In [74]:
# Going back to all laptop page to set filter again.

search_btn= driver.find_element_by_id("nav-search-submit-button")
search_btn.click()

In [75]:
# Clicking on checkbox for filtering

cpu_check= driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']")
for i in cpu_check:
    if i.text== 'Intel Core i9':
        i.click()
        break

In [76]:
# Fetching urls of all the laptops

urls=[]
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    urls.append(i.get_attribute('href'))

In [77]:
# creating list to store data.

title2=[]
price2=[]
rating2=[]

In [78]:
# fetching all i9 laptop details.

for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        t= driver.find_element_by_id("productTitle")
        title2.append(t.text)
    except NoSuchElementException:
        title.append('NaN')
        
    try:
        p= driver.find_element_by_xpath("//td[@class='a-span12']//span")
        price2.append(p.text)
    except NoSuchElementException:
        price.append('NaN')
        
    try:
        r= driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        rating2.append(r.text)
    except NoSuchElementException:
        rating.append('NaN')

In [86]:
# Merging the i7 and i9 lists together. 

title_i7_i9= title+ title2
price_i7_i9= price+ price2
rating_i7_i9= rating+ rating2

In [87]:
# Creating dataframe

x= {'Name':title_i7_i9 ,'Price': price_i7_i9,'Rating': rating_i7_i9}
df10= pd.DataFrame(x)
df10

,Name,Price,Rating
0,"Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...","₹ 3,43,099.00",5 out of 5
1,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...",NaN,4.7 out of 5
2,"Lenovo IdeaPad 3 Laptop, 15.6"" HD Touch Screen...","₹ 99,138.00",5 out of 5
3,"HP OMEN 17 17.3"" Gaming Laptop 144Hz i7-10750H...","₹ 1,85,802.00",NaN
4,"2019 HP 17.3"" HD+ Touchscreen Laptop Computer","₹ 2,01,524.00",4.5 out of 5
5,(Renewed) Lenovo Intel 4th Gen Core i7-4980HQ ...,"₹ 46,290.00",3 out of 5
6,Lenovo ThinkPad P53s Workstation Laptop (Intel...,"₹ 2,09,159.00",4.1 out of 5
7,(Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...,"₹ 61,799.00",NaN
8,HP Elitebook X360 830 G6 13.3-inch Laptop (8th...,"₹ 99,990.00",NaN
9,Lenovo Ideapad 720s Intel Core i7 8th Gen 13.3...,"₹ 89,990.00",3.1 out of 5
10,"ASUS ROG Strix Scar 15 (2020), 15.6"" FHD 300Hz...","₹ 2,14,990.00",NaN
11,"Lenovo Legion 7i 10thGen Intel i9 15.6"" FHD Ga...","₹ 2,65,788.00",1 out of 5
12,(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...,"₹ 1,89,900.00",3.7 out of 5
13,"HP Z4 Workstation, Intel Core i9-7900X, RAM 32...","₹ 2,69,900.00",5 out of 5
14,"Apple MacBook Pro (16-inch, 16GB RAM, 1TB Stor...","₹ 2,15,990.00",4.2 out of 5
15,Asus ROG Zephyrus S Ultra Slim Gaming Laptop,"₹ 3,66,689.00",4 out of 5